<section class="login">
    <div class="login__choice">
        <button  class="button login__button button_isChoice">Вход</button>
        <button type="button" class="button login__button"  (click)="toRegistration()">Регистрация</button>
    </div>
    <form class="login__form" [formGroup]="myForm" (ngSubmit)="submit()">
        <input formControlName="userEmail" type="email" class="input login__name" placeholder="Введи e-mail">
        <input formControlName="userPassword" type="password" class="input login__name" placeholder="Введи пароль">

        <button type="submit" class="button">Войти</button>
    </form>
</section>
