.description {
    padding: 10px;
    text-indent: 40px;
    border: 1px solid brown;
    border-radius: 20px;

    color: white;
    letter-spacing: 2px;
    font-family:'Times New Roman', Times, serif;
    font-size: 1.1rem;
    background-color: brown;
}