<section class="loading">
    <div class="loading-inner">
        <div class="loading-line-wrap">
            <div class="loading-line"></div>
        </div>
        <div class="loading-line-wrap">
            <div class="loading-line"></div>
        </div>
        <div class="loading-line-wrap">
            <div class="loading-line"></div>
        </div>
        <div class="loading-line-wrap">
            <div class="loading-line"></div>
        </div>
        <div class="loading-line-wrap">
            <div class="loading-line"></div>
        </div>
    </div>
</section>