@use './styles/profile-menu';
@use './styles/profile-body';

.profile {
    display: grid;
    align-items: flex-start;

    grid-template-areas: 'menu body';
    grid-template-columns: 1fr 3fr;
    column-gap: 30px;

    &__profile-menu {
        grid-area: menu;
    }
    &__profile-body {
        grid-area: body;
    }
}